.cabecalho{
   background-color: #493939;
   color: 181617;
   display: flex;
   justify-content: ;
   align-items: center;
   padding: 20px0;
}
.cabecalho-imagem{
  width: 15%;
  padding-left: 2px;
  padding-top: 0px;
}
.cabecalho-lista-item{
 text-decoration: none;
 color: white;
 display: inline-block;
 margin: 0;




}
#banner {
    width: 100%;
}

.principal{
    background: #ba9388f9;
    padding: 30px;
}

.titulo-principal{
   padding-left: 20px;
}

.titulo-centralizado {
   text-align: center;
}

p{
   text-align: center;
}

#missão {
    font-size: 20px;
}

em strong {
   color: #f01f1f;
}

.itens {
   font-size: italic
   
}

.beneficios {
    background: #957171;
    padding: 20px;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficio {
   width: 5%;
}
