#banner {
    width: 100%;
}

.principal{
    background: #b7979df9;
    padding: 30px;
}

.titulo-principal{
   padding-left: 20px;
}

.titulo-centralizado {
   text-align: center;
}

p{
   text-align: center;
}

#missão {
    font-size: 20px;
}

em strong {
   color: #f01f1f;
}

.itens {
   font-size: italic
}

.beneficios {
    background: #957171;
    padding: 20px;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficio {
   width: 5%;
}
